body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#board {
    border: 2px solid #333;
    display: inline-block;
}

.row {
    font-size: 0px;
}

.column {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.column.hidden.mine {
    background-color: red;
}

.column.hidden {
    background-color: #C5C5C5;
    cursor: pointer;
}

.column.hidden:hover {
    background-color: #eee;
}

.row:last-child .column {
    border-bottom: none;
}

.row .column:last-child {
    border-right: none;
}